<div id="wrapper">
  <div id="header">

    <p>
    <h1>Панель управления</h1>
    </p>
  </div>

  <div id="sidebar">
    <div id="zatemnenie">
      <div id="okno">
        <p><button> <img class="right_poisk" src="поиск.png" /></button></p>
      </div>
    </div>
    <p><button> <img class="right_new" src="новая доска.png" /></button></p>
  </div>

  <div id="content">

    

    <p><img src="линия.png" /></p>

    <form>
      <p>
        <button>
          <h1>Доска № 2</h1>
        </button>
        <button><img src="кнопка перехода.png" style="vertical-align:middle"></button>
        <button><img src="кнопка удалить.png" style="vertical-align:middle"></button>
      </p>
    </form>

    <p> <img src="линия.png" /></p>

    <form>
      <p>
        <button>
          <h1>Доска № 3</h1>
        </button>
        <button><img src="кнопка перехода.png" style="vertical-align:middle"></button>
        <button><img src="кнопка удалить.png" style="vertical-align:middle"></button>
      </p>
    </form>

    <p><img src="линия.png" /></p>

  </div>
</div>