<header class="header">
  <div class="container">
    <div class="header__wrapper">

      <div class="header__block">
        <p>
        <h1>Whiteboard</h1>
        </p>

      </div>
      <!--header__block -->
      <nav class="nav">
        <button><a href="boards.html" style="text-decoration: none;"><img alt="" src="menu.png" /></a></button>
      </nav>
    </div>
    <!-- header__wrapper -->
  </div>
  <!-- container -->
</header>

<section class="intro">
  <div class="field">
    <canvas id="canvas"></canvas>
    <div class="tools">
      <button onClick="insert()"> <img alt="" src="foto.png" /></button>
      <button onClick="rectangle()"> <img alt="" src="rectangle.png" /></button>
      <button onClick="line()"> <img alt="" src="Vector.png" /></button>
      <button onClick="text()"> <img alt="" src="text.png" /></button>
      <button onClick="add()"> <img alt="" src="plus.png" /></button>
    </div>
  </div>
</section>