<header class="header">
  <div class="container">
    <div class="header__wrapper">

      <div class="header__block">
        <p>
        <h1>Whiteboard</h1>
        </p>

      </div>
      <!--header__block -->
      <nav class="nav">
        <button id="menu-button"><img alt="" src="menu.png" /></button>
      </nav>
    </div>
    <!-- header__wrapper -->
  </div>
  <!-- container -->
</header>

<section class="intro">
  <div class="field">
    <div id="konva-container"></div>
    <div class="tools">
      <button id="image-tool"> <img alt="" src="foto.png" /></button>
      <button id="rect-tool"> <img alt="" src="rectangle.png" /></button>
      <button id="line-tool"> <img alt="" src="Vector.png" /></button>
      <button id="text-tool"> <img alt="" src="text.png" /></button>
      <button id="plus-tool"> <img alt="" src="plus.png" /></button>
    </div>
  </div>
</section>